/*
 * http://www.dafont.com/perfect-dos-vga-437.font
 * by Zeh Fernando
 */
@font-face {
  font-family: PerfectDOSVGA;
  src: url('../Perfect DOS VGA 437.ttf');
  font-weight: 400;
}

html {
  cursor: none;
  height:100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background-color: #0000A0;
  color: #FFF;
  font-family: 'PerfectDOSVGA', sans-serif;
}
