!!! 5
html(oncontextmenu='return false')
  head
    link(href='css/style.css', rel='stylesheet')
  body
    p.
      A problem has been detected and Windows has been
      shut down to prevent damage to your computer.
    br
    br
    p
      | If this is the first time you've seen this Stop error screen,
      br
      | restart your computer.
      | If this screen appears again, follow
      br
      | these steps:
    p
      | Check to make sure any new hardware of software is properly installed.
      br
      | If this is a new installation, ask your hardware or software manufacturer
      br
      | for any Windows updates you might need.
    p
      | If problems continue, disable or remove any newly installed hardware
      br
      | or software. Disable BIOS memory options such as caching or shadowing.
      br
      | If you need to use Safety Mode to remove or disable components, restart
      br
      | your computer, press F8 to select Advanced Startup Options, and then
      br
      | select Safe Mode.
    p.
      Technical information:
    p.
      *** STOP: 0x000000005 (0x0000000000000000, 0x0000000000000000, 0x0000000000000000,
      0x0000000000000000)
